<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>工具</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>html</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.html</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.xml, text/xml</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.xml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>text</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
				<string>public.utf8-plain-text</string>
				<string>public.utf16-external-plain-​text</string>
				<string>public.utf16-plain-text</string>
				<string>com.apple.traditional-mac-​plain-text</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>'RTF ', .rtf, text/rtf, NeXT Rich Text Format 1.0 pasteboard type, NSRTFPBoardType</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.rtf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>script</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.c</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.c-source</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.m</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.objective-c-source</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.cp, .cpp, .c++, .cc, .cxx</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.c-plus-plus-source</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.mm</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.objective-c-plus-​plus-source</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.h</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.c-header</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.hpp, .h++ , .hxx</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.c-plus-plus-header</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.java, .jav</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sun.java-source</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.s</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.assembly-source</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.r</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.rez-source</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.defs, .mig</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mig-source</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.exp</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.symbol-export</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.js, .jscript, .javascript, text/javascript</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.netscape.javascript-​source</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.sh, .command</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.shell-script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.csh</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.csh-script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.pl, .pm, text/x-perl-script</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.perl-script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.py, text/x-python-script</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.python-script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.rb, .rbw, text/ruby-script</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.ruby-script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.php, .php3, .php4, .ph3, .ph4, .phtml, text/x-php-script, text/php, application/php</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.php-script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.jnlp, application/x-java, jnlp-file, application/jnlp</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sun.java-web-start</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.applescript</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.applescript.text</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.scpt, 'osas'</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.applescript.​script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.o</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.object-code</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.exe, application/x-msdownload</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.windows-​executable</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.dll, application/x-msdownload</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.windows-​dynamic-link-library</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.class</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sun.java-class</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.jar , application/java-archive</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sun.java-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.gz, .gzip, application/x-gzip, application/gzip</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.gnu.gnu-zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.tar, application/x-tar, application/tar</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tar-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.tgz</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.gnu.gnu-zip-tar-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>'JPEG', .jpg, .jpeg, image/jpeg</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>'jp2 ', .jp2, image/jp2</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg-2000</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>'PNGf', .png, image/png</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>'MooV', .mov, .qt, video/quicktime</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.quicktime-movie</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.avi, .vfw, 'Vfw ', video/avi, video/msvideo, video/x-msvideo</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.avi</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>'MPG ', 'MPEG', .mpg, .mpeg, .m75, .m15, video/mpg, video/mpeg, video/x-mpg, video/x-mpeg</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mpeg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>'mpg4', .mp4, video/mp4, video/mp4v</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mpeg-4</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.3gp, .3gpp, '3gpp', video/3gpp, audio/3gpp</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.3gpp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.3g2 , .3gp2 , '3gp2', video/3gpp2, audio/3gpp2</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.3gpp2</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>'MPG3', 'mpg3', 'Mp3 ', 'MP3 ', 'mp3!', 'MP3!', .mp3, audio/mpeg, audio/mpeg3, audio/mpg, audio/mp3, audio/x-mpeg, audio/x-mpeg3, audio/x-mpg, audio/x-mp3</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mp3</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>'M4A ', .m4a</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mpeg-4-audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>'M4P ', 'M4B ', .m4p, .m4b</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.protected-​mpeg-4-audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.au, .ulw, .snd, 'ULAW', audio/basic, audio/au, audio/snd</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.ulaw-audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.aifc, .aiff, .aif, 'AIFC', audio/aiff, audio/x-aiff</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.aifc-audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.aiff, .aif, 'AIFF', audio/aiff, audio/x-aiff</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.aiff-audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.caf, 'caff'</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.coreaudio-​format</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>文件夹</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.directory</string>
				<string>public.folder</string>
				<string>com.apple.package</string>
				<string>com.apple.bundle</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.zip, application/zip</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pkware.zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.zip, application/zip</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pkware.zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>'PDF ', .pdf, application/pdf, Apple PDF pasteboard type</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.ps, application/postscript</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.postscript</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.eps, NeXT Encapsulated PostScript v1.2 pasteboard type</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.encapsulated-​postscript</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.psd, '8BPS, ' image/x-photoshop, image/photoshop, image/psd, application/photoshop</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.photoshop-​image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.ai</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.illustrator.ai-​image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>'GIFf', .gif, image/gif</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.compuserve.gif</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>'BMP ', 'BMPf', .bmp</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.bmp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.ppt, 'SLD8', application/mspowerpoint</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.powerpoint.​ppt</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.wav, .wave, '.WAV', 'WAVE', audio/wav, audio/wave</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.waveform-​audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.asf , 'ASF_', video/x-ms-asf</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.advanced-​systems-format</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.key</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.keynote.key</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.kth</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.keynote.kth</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>'APPL', .app</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.application-​bundle</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>'APPL'</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.application-file</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.plugin</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.plugin</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.wm, video/x-ms-wm</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.windows-​media-wm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.wmv, video/x-ms-wmv</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.windows-​media-wmv</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.wmp, video/x-ms-wmp</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.windows-​media-wmp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.wma, video/x-ms-wma</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.windows-​media-wma</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.asx, 'ASX_', video/x-ms-asx</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.advanced-​stream-redirector</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.wmx , video-x-ms-wmx</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.windows-​media-wmx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.wvx, video-x-ms-wvx</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.windows-​media-wvx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>document_logo_small</string>
				<string>document_logo_large</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>.wax, video-x-ms-wax</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.windows-​media-wax</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Microsoft Word data.</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.word.doc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Microsoft Excel data</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.excel.xls</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint presentation</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.powerpoint.​ppt</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>'url','urln','furl'</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.url</string>
				<string>public.url-name</string>
				<string>public.file-url</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string></string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
